[Unit]
Description=ForkLift service
# After=network-online.target
# Wants=network-online.target

[Service]
#Type=forking
User=root
ExecStart=/bin/sh /forklift.sh
RemainAfterExit=true
# Restart=always
# RestartSec=2

[Install]
WantedBy=multi-user.target
